@model StudentHomework.Web.Pages.Students.StudentEditViewModel

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control rounded-3" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control rounded-3" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="DateOfBirth" class="form-label"></label>
    <input asp-for="DateOfBirth" type="date" class="form-control rounded-3" />
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
</div>
